extends layout.pug


block content
	main.container
		h1.page-title All Notes

		.notes
			each item in n
				div.note-wrapper
					a.note(href=`/notes/${item.id}`)= item.title
					a.delete(href=`/notes/${item.id}/delete`) Delete