:root {
	font-size:18px;

}

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: tomato;
}

.container,
.header {
	max-width: 1000px;
	margin: 0 auto;

}


.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: 1px solid #ccc;

}

.nav > a {
	display: inline-block;
	padding: 10px 20px;
}

.logo {
	padding: 10px 20px;
}

/* Homepage  srykes*/
.intro-msg {
	padding: 20px;
	margin-top: 150px;
	font-size: 3.5rem;
}

.featured {
	margin-left: 20px;
	padding: 10px 20px;
	font-size: 1.3rem;
	display: inline-block;
	background-color: tomato;
	color: #fff;
	border: none;
}

/* Create Page*/

.page-title,
.form {
	margin-left: 20px;

}

.page-title {
	margin-top: 20px;
	margin-bottom: 40px;
}

.form {
	max-width: 50%;

}

.input {
	display: block;
	width: 100%;
	font-size: 1.3rem;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: tomato;
	color: #fff;
	border: none;
}


/* Notes page */
.notes {
	margin: 20px 0 0 20px;
}

.note-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 60%;

}

.note {
	display: inline-block;
	padding: 10px 0;
	font: 1.5rem;
	
}

.delete {
	display: inline-block;
	padding: 5px 10px;
	background-color: tomato;
	color: #fff;
	border: none;

}